<div class="side-content row">
  <div class="row">
    <h3>ランキング</h3>
    <ul class="nav nav-pills nav-stacked span2">
      <li><a href="/ranking?store_type=0">App Store</a></li>
      <li><a href="/ranking?store_type=1">Google play</a></li>
    </ul>
  </div>

  <% unless apps %>
  <% else %>

  <div class="row">
  <h3>アプリ一覧</h3>
    <ul class="nav nav-pills nav-stacked span2">
      <% if apps %>
        <% apps.each do |app| %>
           <% if selected_app && app[:app_id]==selected_app[:app_id] %>
               <li class="active"><a href="/?app_id=<%= app[:app_id] %>"><%= app[:name] %></a></li>
           <% else %>
               <li><a href="/?app_id=<%= app[:app_id] %>"><%= app[:name] %></a></li>
           <% end %>
        <% end %>
      <% end %>
    </ul>
    </div>
  <% end %>

  <div class="row">
      <div >
          <a id="toggle_app_form"><i class="icon-plus"></i>Add app</a>
      </div>
      <div class="span2" id="add_app_form" style="display:none;">
          <form id="add_app" method="POST" action="/app/create">
              <label>APP ID:</label>
              <input class="input-medium" type="text" name="app_id" />
              <label>APP NAME:</label>
              <input class="input-medium" type="text" name="app_name" />
              <button type=submit" class="btn btn-primary">ADD</button>
              <button onclick="$('#add_app_form').toggle();return false;" class="btn">CANCEL</button>
          </form>
      </div>
  </div>
</div>
